.summary-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.summary-table th {
  text-align: left;
  font-weight: bold;
}

.summary-table td {
  text-align: right;
  padding-left: 10px;
}

.total-row {
  font-weight: 800;
  font-size: 1.2em;
}
